---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

// UofS Pulse Specific Alterations
header.masthead {
	color: #f5f4ff;
}

#mainNav {
	background-color: rgba(0,0,0,0.65);
}

.bg-light {
  background-color: #f5f4ff !important;
}

header.masthead .intro-text .intro-heading {
	font-size: 50px;
}
header.masthead .intro-text .intro-lead-in,
	header.masthead .intro-text .intro-heading {

	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#portfolio .portfolio-item .portfolio-caption {
  background-color: rgba(46, 44, 63, 0.3);
}
