---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#fed136" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

// UofS Pulse Specific Alterations
header.masthead {
	color: #f5f4ff;
}

#mainNav {
	background-color: rgba(0,0,0,0.65);
}

.bg-light {
  background-color: #f5f4ff !important;
}

header.masthead .intro-text .intro-heading {
	font-size: 50px;
}
header.masthead .intro-text .intro-lead-in,
	header.masthead .intro-text .intro-heading {

	text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.fa-puzzle-piece {
	top: -3px;
	left: 7px;
	position: relative;
}

#portfolio .portfolio-item .portfolio-caption {
  background-color: rgba(46, 44, 63, 0.3);
}

#portfolio .portfolio-item .img-fluid {
    width: 100%;
    height: 300px;
}

ul.timeline > li .timeline-image {
	background-color: rgb(46, 44, 63);
}
#timeline .fa-stack {
	height: 170px;
	width: 170px;
	line-height: 90px;
	font-size: 90px;
	top: 30px;
	left: -7px;
	position: relative;
}
#timeline .fa-stack .fas.fa-code-branch {
	left: 7px;
}
#timeline .timeline-image-2 img {
	width: 84px;
	height: 75px;
	margin-top: 40px;
	margin-left: 8px;
}
#timeline .timeline-image-5 img {
	width: 127px;
	height: 64px;
	margin-top: 40px;
	margin-left: -7px;
}
#timeline .timeline-image-6 img {
	width: 93px;
	height: 82px;
	margin-top: 30px;
	margin-left: 0px;
}

#team .team-member img {
	border: 0;
	width: 125px;
	height: 125px;
}

#team .team-member h4 {
	margin-top: 10px;
	font-size: 1.2em;
}

#team .team-member p {
	margin-bottom: 5px;
}
ul.social-buttons li a {
	font-size: 15px;
	line-height: 35px;
	width: 35px;
	height: 35px;
}

.modules-link {
	width: 100%;
	padding-top: 50px;
}

p.agile-logo img {
	width: 669px;
	height: 245px;
}
p.evolves-logo img {
	width: 427px;
	height: 245px;
}
p.project-logo, p.project-logo a {
	width: 100%;
	margin-top: 150px;
	text-align: center;
}
p.project {
	padding: 50px 20px;
	text-align: center;
}
p.project-link {
	padding-bottom: 50px;
	text-align: center;
	font-weight: bolder;
	font-size: 1.2em;
}
